/* green */
.icheckbox_square-green,
.iradio_square-green {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(../../images/green.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_square-green {
    background-position: -24px 0;
}
.icheckbox_square-green.hover {
    background-position: -24px 0;
}
.icheckbox_square-green.checked {
    background-position: -48px 0;
}
.icheckbox_square-green.disabled {
    background-position: -72px 0;
    cursor: default;
}
.icheckbox_square-green.checked.disabled {
    background-position: -96px 0;
}

.iradio_square-green {
    background-position: -120px 0;
}
.iradio_square-green.hover {
    background-position: -144px 0;
}
.iradio_square-green.checked {
    background-position: -168px 0;
}
.iradio_square-green.disabled {
    background-position: -192px 0;
    cursor: default;
}
.iradio_square-green.checked.disabled {
    background-position: -216px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox_square-green,
    .iradio_square-green {
        background-image: url(../../images/green@2x.png);
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
}





/* iCheck plugin Flat skin, blue
----------------------------------- */
.icheckbox_flat-blue,
.iradio_flat-blue {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(../../images/blue.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_flat-blue {
    background-position: 0 0;
}
.icheckbox_flat-blue.checked {
    background-position: -22px 0;
}
.icheckbox_flat-blue.disabled {
    background-position: -44px 0;
    cursor: default;
}
.icheckbox_flat-blue.checked.disabled {
    background-position: -66px 0;
}

.iradio_flat-blue {
    background-position: -88px 0;
}
.iradio_flat-blue.checked {
    background-position: -110px 0;
}
.iradio_flat-blue.disabled {
    background-position: -132px 0;
    cursor: default;
}
.iradio_flat-blue.checked.disabled {
    background-position: -154px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
    .icheckbox_flat-blue,
    .iradio_flat-blue {
        background-image: url(../../images/blue@2x.png);
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}


/* iCheck plugin Flat skin, orange
----------------------------------- */
.icheckbox_flat-orange,
.iradio_flat-orange {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(../../images/orange.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_flat-orange {
    background-position: 0 0;
}
.icheckbox_flat-orange.checked {
    background-position: -22px 0;
}
.icheckbox_flat-orange.disabled {
    background-position: -44px 0;
    cursor: default;
}
.icheckbox_flat-orange.checked.disabled {
    background-position: -66px 0;
}

.iradio_flat-orange {
    background-position: -88px 0;
}
.iradio_flat-orange.checked {
    background-position: -110px 0;
}
.iradio_flat-orange.disabled {
    background-position: -132px 0;
    cursor: default;
}
.iradio_flat-orange.checked.disabled {
    background-position: -154px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
    .icheckbox_flat-orange,
    .iradio_flat-orange {
        background-image: url(../../images/orange@2x.png);
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}


/* iCheck plugin Line skin, blue
----------------------------------- */
.icheckbox_line-blue,
.iradio_line-blue {
    position: relative;
    display: block;
    margin: 0;
    padding: 15px 15px 15px 38px;
    font-size: 13px;
    line-height: 17px;
    color: #fff;
    background: #2489c5;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
.icheckbox_line-blue .icheck_line-icon,
.iradio_line-blue .icheck_line-icon {
    position: absolute;
    top: 50%;
    left: 13px;
    width: 13px;
    height: 11px;
    margin: -5px 0 0 0;
    padding: 0;
    overflow: hidden;
    background: url(../../images/line.png) no-repeat;
    border: none;
}
.icheckbox_line-blue.hover,
.icheckbox_line-blue.checked.hover,
.iradio_line-blue.hover {
    background: #3DA0DB;
}
.icheckbox_line-blue.checked,
.iradio_line-blue.checked {
    background: #2489c5!important;
}
.icheckbox_line-blue.checked .icheck_line-icon,
.iradio_line-blue.checked .icheck_line-icon {
    background-position: -15px 0;
}
.icheckbox_line-blue.disabled,
.iradio_line-blue.disabled {
    background: #ADD7F0;
    cursor: default;
}
.icheckbox_line-blue.disabled .icheck_line-icon,
.iradio_line-blue.disabled .icheck_line-icon {
    background-position: -30px 0;
}
.icheckbox_line-blue.checked.disabled,
.iradio_line-blue.checked.disabled {
    background: #ADD7F0;
}
.icheckbox_line-blue.checked.disabled .icheck_line-icon,
.iradio_line-blue.checked.disabled .icheck_line-icon {
    background-position: -45px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
    .icheckbox_line-blue .icheck_line-icon,
    .iradio_line-blue .icheck_line-icon {
        background-image: url(../../images/line@2x.png);
        -webkit-background-size: 60px 13px;
        background-size: 60px 13px;
    }
}