#left-box {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}
.left-box-content {
    background: none;
    border: none;
    padding: 10px;
    clear: both;
}
.form-group input{
    padding: 20px 12px;
    background: #efefef;
}
.form-group .search-title-input,.form-group .key-words-input{
    height: 49px;
    box-shadow: 0 1px 1px #d3d1d1;
    font-size: 14px;
    color: #333;
    outline: none;
    border: 1px solid #dddddd;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #b7b7b7;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #fff;
    font-weight: normal;
    padding: 0px 15px;
}

.left-box-content h5{
    color: #34424e;
    font-weight:bold;
}
.left-box-content h5 > label{
    color: #FFFFFF;
    margin-left: 5px;
    font-weight: normal;
}
.left-box-content .label-gray {
    background-color: #9ea5a7;
}
#navigation {
    display: block;
    padding: 0;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    border-radius: 2px;
    overflow: hidden;
}
#navigation li{
    border-bottom: 1px solid #c5c5c5;
}
#navigation li:first-child{
    border-top: 1px solid #c5c5c5;
}
#navigation a ,.search-box a,.add-article-box a,.save-as-draft-box a
,.view-article-box a,.save-article-box a {
    color: #444;
    display: block;
    background: #FFFFFF;
    padding: 15px 20px;
    text-transform: uppercase;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    font-size: 14px;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
#navigation a:active,#navigation a:hover,#navigation a.active {
    border-left: 3px solid #1BB7A0;
    color: #1BB7A0;
    background-color: #ececec;
}
#navigation a span{
}

.category-list,.tags-list{
    padding: 0;
    overflow: auto;
}
.category-list li,.tags-list li{
    float: left;
}
.category-list li label,.tags-list li label{
    cursor: pointer;
    margin: 3px 5px;
}
.category-list li a label{

}
.category-list .icheckbox_flat-blue,.other-condition .icheckbox_flat-orange,.tags-list .icheckbox_flat-blue{
    margin-right: 5px;
}
label:focus{
    -moz-user-select:   none;
}
.form_datetime{
    cursor: pointer;
}
.date{
    margin-bottom: 5px;
}
.other-condition{
    margin-bottom: 20px;
}
.other-condition label{
    cursor: pointer;
    margin: 3px 5px;
}
.search-box a ,.add-article-box a,.save-as-draft-box a,.view-article-box a,.save-article-box a{
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 25px;
    margin-bottom: 20px;
    font-size: 0.925rem;
    line-height: 1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: none;
    font-weight: bold;
    font-size: 14px;
    background-color: #FFFFFF;
    color: #1ab394;
    border-bottom: 1px solid #b7b7b7;
}
.search-box a:hover,.add-article-box a:hover,.save-as-draft-box a:hover
,.view-article-box a:hover,.save-article-box a:hover {
    background-color: #18a689;
    border-color: #18a689;
    color: #FFFFFF;
}

.list-main-box{
    width: 100%;
    padding: 10px 20px;
    border-radius: 2px;
    background: #FFFFFF;
}
.list-header-box{
    margin-bottom: 20px;
}
.list-header-box .pagination{
    margin: 0px;
}
.list-header-box .pagination a{
    color: #676a6c;
}
.list-header-box .pagination .active > a{
    color: #FFFFFF;
}
.list-main-box h2{
    font-size: 20px;
    margin-top: 0;
}
.btn-white:focus,.btn-white:hover,.btn-white:visited{
    outline: none;
}
.btn-white:active{
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
}
.btn-white{
    color: inherit;
    background: white;
    border: 1px solid #d2d2d2;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.list-content-box table thead tr th > a{

}
.list-content-box table thead tr th > a > i{
    padding-left: 5px;
}
.list-content-box .table > tbody > tr > td,.list-content-box  .table > thead > tr > th{
    text-align: center;
}
.list-content-box .table > tbody > tr{
    border-top: 1px solid #d6d6d6;
    cursor: pointer;
}
.list-content-box .table > tbody > tr > td:nth-child(2),.list-content-box .table > thead > tr > th:nth-child(2){
    text-align: left;
}
.list-content-box  .table > tbody > tr:last-child{
    border-bottom: 1px solid #d6d6d6;
}
.label-biji,.label-riji,.label-qita{
    color: #737373;
    border: 1px solid;
}
.table-hover > tbody > tr:hover {
    background-color: #e6e6e6;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.article-title{
    margin-left: 5px;
    font-size: 14px;
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #6d6d6d;
    font-weight: bold;
}
.article-title:focus,.article-title:visited{
    color: #6d6d6d;
}
.article-title:hover{
    color: #6d6d6d;
    text-decoration: underline;
}